<div class="container">
  <h1 class="italic">User account</h1>

  <header>
    <h2><%= current_user.name %>
      <h5>(<%= current_user.email %>)</h5>
    </h2>
  </header>
  <br />
  <br />
  <p>To upgrade your account and gain access to private wikis, please click on the link below.</p>
  <%= link_to "Upgrade Account", new_charge_path %><br/><br/>

   <p>If you are a premium user and would like to downgrade to a standard account, please click on the link below: </p>
   <%= link_to "Downgrade Account", edit_user_path %><br/><br/>
</div>