
<header>
  <h1><span class="italic">My Wikis</span>
    <small class="noshow"><%= link_to "New", new_wiki_path %></small>
  </h1> 
</header>

  <table class="table table-striped">
    <tr>
      <th class="subject">Subject</th>
      <th class="secondary">Edit</th>
      <th class="secondary">Delete</th>
    </tr>
    <% @wikis.each do |wiki| %>
    <tr>
      <td ><h3><%= link_to wiki.title, wiki %></h3></td>
        <td class="vertical-align"><%= link_to "Edit", edit_wiki_path(wiki) if current_user %></td>
        <td class="vertical-align"><%= link_to "Delete", [wiki], method: :delete, data:
          { confirm: 'Are you sure you want to delete this wiki?' } if current_user %></td>
    </tr>
    <% end %>
  </table>

