<header>
  <h1>
    <%= @wiki.title %>
    <% if current_user %>
    <small class="noshow"><%= link_to "Edit", edit_wiki_path(@wiki) %></small>
    <small class="noshow"><%= link_to "Delete", [@wiki], method: :delete,
     data:
          { confirm: 'Are you sure you want to delete this wiki?' }%></small>
    <% end %>
  </h1>
</header>
<p><%= @wiki.body %></p>
